@charset "UTF-8";
.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}
body,html{height:100%;font-size:16px}
@font-face{font-family:glyphicons-halflings-regular;src:url(../fonts/glyphicons-halflings-regular.woff2)}
@font-face{font-family:glyphicons-halflings-regular;src:url(../fonts/glyphicons-halflings-regular.woff)}
@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome.woff)}
@font-face{font-family:OpenSans-Regular;src:url(../fonts/OpenSans-Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Semibold;src:url(../fonts/OpenSans-Semibold.ttf);font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Bold;src:url(../fonts/OpenSans-Bold.ttf);font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-LightItalic;src:url(../fonts/OpenSans-LightItalic.ttf);font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Light;src:url(../fonts/OpenSans-Light.ttf);font-weight:400;font-style:normal}
.nav-cybernetics{background-color:rgba(0,0,0,.82);height:185px;border-radius:0;border:none;margin-bottom:0}
.nav-cybernetics .logo-block{height:185px;float:left;display:inline-block}
.nav-cybernetics .logo-block .logo-img{margin-top:20px;width:93px;float:left}
.nav-cybernetics .logo-block .logo-img .logo{width:93px;height:145px}
.nav-cybernetics .logo-block .logo-header{float:left;max-width:376px;margin-left:10px}
.nav-cybernetics .logo-block .logo-header .header-title{font-family:OpenSans-Bold,sans-serif;color:#05dcb9;font-weight:700;text-align:left;margin-bottom:5px}
@media (min-width:992px){.nav-cybernetics .logo-block .logo-header .header-title{font-size:1.6em;margin-top:57px}
.nav-cybernetics .logo-block .logo-header .header-title-text{max-width:255px}
}
@media (min-width:1200px){.nav-cybernetics .no-padding{padding-left:30px;padding-right:30px}
.nav-cybernetics .logo-block .logo-header .header-title{font-size:1.875em;margin-top:62px}
}
.nav-cybernetics .logo-block .logo-header .header-title-text{font-family:OpenSans-Regular,sans-serif;color:#05dcb9;font-size:.75em;font-weight:400;text-align:left;margin-top:0}
.nav-cybernetics .right-nav-block{float:right;height:185px}
.nav-cybernetics .right-nav-block .search-language-login{margin-top:10px;height:45px}
.nav-cybernetics .right-nav-block .search-language-login .search-form{float:right;margin:0;border:0;padding:0}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{display:none;height:44px;outline:0;background-color:transparent;border-radius:0;border-bottom:1px solid #fff;border-top:0;border-right:0;border-left:0;font-family:OpenSans-Regular,sans-serif;color:#fff;font-size:1.125em}
@media (min-width:992px){.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:220px}
}
@media (min-width:1200px){.nav-cybernetics .logo-block .logo-header .header-title-text{max-width:376px}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:400px}
}
@media (min-width:1400px){.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:550px}
}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search:focus{box-shadow:none}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-input{display:block}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search{background-color:transparent;border:none;outline:0;color:#fff;border-radius:0;margin-left:10px;width:44px;height:44px;padding:0}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search:hover{color:#05dcb9}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search .icon-search{font-size:1.125em}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-btn{background-color:#05dcb9}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-btn:hover{color:#fff}
.nav-cybernetics .right-nav-block .search-language-login .sll-text{float:right;margin-top:10px;font-family:OpenSans-Regular,sans-serif;color:#fff;font-size:1.125em;font-weight:400;margin-left:10px;letter-spacing:1px;outline:0;text-decoration:none}
.nav-cybernetics .right-nav-block .search-language-login .sll-text:hover{color:#05dcb9}
.nav-cybernetics .right-nav-block .link-to-other-page{height:45px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li{position:relative}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown,.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown-inside{list-style-type:none;padding:0}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown-inside{position:absolute;right:9999px;width:260px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top{display:inline;float:right}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top a{display:block}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{background-color:transparent;text-decoration:none;font-family:OpenSans-Semibold,sans-serif;color:#fff;font-weight:600;line-height:44px;text-align:center;height:44px}
@media (min-width:992px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 5px;font-size:1.1em}
}
@media (min-width:1200px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 10px;font-size:1.25em}
}
@media (min-width:1400px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 32px}
}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top:hover{background-color:#05dcb9;color:#282828}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover{background-color:#05dcb9}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover a.dropdown-top{color:#282828}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover .dropdown-inside{display:block;right:0}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside{background:url(../img/bg-image.png);background-size:cover}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside a{font-family:OpenSans-Regular,sans-serif;color:#282828;font-size:1.125em;font-weight:400;line-height:40px;text-align:left;text-decoration:none;padding-left:30px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside a:hover{color:#000;text-decoration:underline}
.nav-cybernetics .right-nav-block .social-link{margin-top:20px;float:right}
.nav-cybernetics .right-nav-block .social-link .link{display:inline-block;margin-left:30px}
.carousel .carousel-indicators{width:auto;margin-left:0;margin-right:50px;right:0;left:auto}
.carousel .carousel-indicators li{border-radius:0;border:3px solid #05dcb9;width:38px;height:38px;margin:0}
.carousel .carousel-indicators .active{border:3px solid #05dcb9;background-color:#05dcb9}
.carousel .carousel-caption{left:0;right:0;bottom:50%;background-color:rgba(0,0,0,.6);height:206px;margin-bottom:-103px;padding:0}
.carousel .carousel-caption .slider-header-1{font-family:OpenSans-Semibold,sans-serif;color:#05dcb8;font-size:4.5em;font-weight:600}
.carousel .carousel-caption .slider-header-2{font-family:OpenSans-Regular,sans-serif;color:#05dcb8;font-size:2.25em;font-weight:400}
.carousel .icon-left{width:35px;height:66px;margin-top:-33px;left:20%}
.carousel .icon-right{width:35px;height:66px;margin-top:-33px;left:70%}
.slider-mini{width:90%;margin-top:50px;margin-bottom:50px}
.slider-mini .slick-slide{height:80px}
.slider-mini .carousel-image{display:inline-block;float:left;margin-left:2px;height:80px;margin-right:20px}
.slider-mini .carousel-text{font-family:OpenSans-Light,sans-serif;color:#282828;font-weight:300;text-align:left;display:inline-block;float:left;margin-bottom:0}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}
@media (min-width:992px){.slider-mini .carousel-image{margin-left:50px}
.slider-mini .carousel-text{width:57%;margin-top:8px;font-size:1.3em}
}
@media (min-width:1200px){.slider-mini .carousel-image{margin-left:2px}
.slider-mini .carousel-text{width:60%;margin-top:8px;font-size:1.3em}
}
@media (min-width:1400px){.slider-mini .carousel-image{margin-left:2px}
.slider-mini .carousel-text{width:55%;margin-top:0;font-size:1.5em}
}
@media (min-width:1745px){.slider-mini .carousel-text{width:70%;margin-top:10px;font-size:1.5em}
}
@media (min-width:992px){.slider-mini .size-rada{width:40%}
}
@media (min-width:1200px){.slider-mini .size-rada{width:30%}
}
@media (min-width:1400px){.slider-mini .size-rada{width:30%}
}
@media (min-width:1745px){.slider-mini .size-rada{width:40%}
}
.slider-mini .shape-left{width:35px;height:66px;left:-3.5%}
.slider-mini .shape-right{width:35px;height:66px;right:-3.5%}
.content{background:url(../img/bg-image.png)}
.content .main .information-block{width:80%}
.content .main .information-block .header-title{font-family:OpenSans-Semibold,sans-serif;color:#282828;font-size:1.875em;font-weight:600;text-align:left;transform:scaleX(1.0016);margin-bottom:30px}
.content .main .information-block .header-text{font-family:OpenSans-Regular,sans-serif;color:#181818;font-size:1.375em;font-weight:400;text-decoration:underline;text-align:left}
.content .main .information-block .image-entrants{background:url(../img/abiturient1.jpg) 50% 50% no-repeat;background-size:cover;height:250px;margin-bottom:30px}
.content .main .information-block .image-schedule{background:url(../img/abitur.jpg) 50% 50% no-repeat;background-size:cover;height:250px;margin-bottom:30px}
.content .main .information-block .image-webcam{background:url(../img/webka.png) 50% 50% no-repeat;background-size:cover;height:250px;margin-bottom:30px}
.content .main .line{border-top:3px solid #05dcb9;margin-top:50px;width:94%}
.content .news .header-news{width:80%}
.content .news .header-news .header-title{font-family:OpenSans-Semibold,sans-serif;color:#282828;font-size:1.875em;font-weight:600;text-align:left;transform:scaleX(1.0016);margin-bottom:0}
.content .news .news-block{width:80%;margin-top:50px}
.content .news .news-block .header-title{font-family:OpenSans-Regular,sans-serif;color:#181818;font-size:1.375em;font-weight:400;text-decoration:underline;text-align:left;margin-top:30px}
.content .news .news-block .news-image{width:100%}
.content .news .news-block .date{float:right;font-family:OpenSans-LightItalic,sans-serif;color:#727272;font-size:1.125em;font-style:italic;text-align:right}
.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-slider{box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{left:0;top:0}
.slick-track:after,.slick-track:before{content:"";display:table}
.slick-track:after{clear:both}
.slick-slide{float:left;height:100%;min-height:1px;display:none}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}
.slick-loading .slick-list{background:url(../img/ajax-loader.gif) center center no-repeat #fff}
@font-face{font-family:slick;src:url(../fonts/slick.eot);src:url(../fonts/slick.eot?#iefix) format("embedded-opentype"),url(../fonts/slick.woff) format("woff"),url(../fonts/slick.ttf) format("truetype"),url(../fonts/slick.svg#slick) format("svg");font-weight:400;font-style:normal}
.slick-next,.slick-prev{height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:0 0;color:transparent;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border:none;outline:0}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{outline:0;background:0 0;color:transparent}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}
.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;color:#fff;opacity:.75}
.slick-prev{left:-25px}
[dir=rtl] .slick-prev{left:auto;right:-25px}
.slick-prev:before{content:"←"}
.slick-next:before,[dir=rtl] .slick-prev:before{content:"→"}
.slick-next{right:-25px}
[dir=rtl] .slick-next{left:-25px;right:auto}
[dir=rtl] .slick-next:before{content:"←"}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{bottom:-25px;list-style:none;text-align:center;margin:0;width:100%}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{border:0;background:0 0;display:block;height:20px;width:20px;outline:0;line-height:0;font-size:0;color:transparent;padding:5px;cursor:pointer}
.slick-dots li button:focus,.slick-dots li button:hover{outline:0}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-size:6px;line-height:20px;text-align:center;color:#000;opacity:.25}
.slick-dots li.slick-active button:before{color:#000;opacity:.75}
.footer .footer-link-text,.footer .footer-text{font-family:OpenSans-Regular,sans-serif;color:#fff;font-size:1.25em;font-weight:400;text-align:center}
.footer{background-color:rgba(0,0,0,.82);height:359px}
.footer .btn-footer{width:200px;margin-top:50px}
.footer .address-block{width:400px;text-align:center;margin-top:50px}
.footer .phone-block{text-align:center;width:300px;margin-top:50px}
.footer .footer-link-text{border-bottom:1px solid #fff;outline:0;text-decoration:none}