@charset "UTF-8";
.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}
body,html{height:100%;font-size:16px;background-color:#adaeaf}
@font-face{font-family:OpenSans-Regular;src:url(../fonts/OpenSans-Regular.eot);src:url(../fonts/OpenSans-Regular.eot#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Regular.woff) format("woff"),url(../fonts/OpenSans-Regular.ttf) format("truetype"),url(../fonts/OpenSans-Regular.svg#OpenSans-Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Semibold;src:url(../fonts/OpenSans-Semibold.eot);src:url(../fonts/OpenSans-Semibold.eot#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Semibold.woff) format("woff"),url(../fonts/OpenSans-Semibold.ttf) format("truetype"),url(../fonts/OpenSans-Semibold.svg#OpenSans-Semibold) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Bold;src:url(../fonts/OpenSans-Bold.eot);src:url(../fonts/OpenSans-Bold.eot#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Bold.woff) format("woff"),url(../fonts/OpenSans-Bold.ttf) format("truetype"),url(../fonts/OpenSans-Bold.svg#OpenSans-Bold) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-LightItalic;src:url(../fonts/OpenSans-LightItalic.eot);src:url(../fonts/OpenSans-LightItalic.eot#iefix) format("embedded-opentype"),url(../fonts/OpenSans-LightItalic.woff) format("woff"),url(../fonts/OpenSans-LightItalic.ttf) format("truetype"),url(../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:OpenSans-Light;src:url(../fonts/OpenSans-Light.eot);src:url(../fonts/OpenSans-Light.eot#iefix) format("embedded-opentype"),url(../fonts/OpenSans-Light.woff) format("woff"),url(../fonts/OpenSans-Light.ttf) format("truetype"),url(../fonts/OpenSans-Light.svg#OpenSans-Light) format("svg");font-weight:400;font-style:normal}
.nav-cybernetics{background-color:rgba(0,0,0,.82);height:185px;border-radius:0;border:none;margin-bottom:0}
.nav-cybernetics .logo-block{height:185px;float:left;display:inline-block}
.nav-cybernetics .logo-block .logo-img{margin-top:20px;width:93px;float:left}
.nav-cybernetics .logo-block .logo-img .logo{width:93px;height:145px}
.nav-cybernetics .logo-block .logo-header{float:left;max-width:376px;margin-left:10px}
.nav-cybernetics .logo-block .logo-header .header-title{font-family:OpenSans-Bold,sans-serif;color:#05dcb9;font-weight:700;text-align:left;margin-bottom:5px}
@media (min-width:992px){.nav-cybernetics .logo-block .logo-header .header-title{font-size:1.6em;margin-top:57px}
.nav-cybernetics .logo-block .logo-header .header-title-text{max-width:255px}
}
@media (min-width:1200px){.nav-cybernetics .no-padding{padding-left:30px;padding-right:30px}
.nav-cybernetics .logo-block .logo-header .header-title{font-size:1.875em;margin-top:62px}
}
.nav-cybernetics .logo-block .logo-header .header-title-text{font-family:OpenSans-Regular,sans-serif;color:#05dcb9;font-size:.75em;font-weight:400;text-align:left;margin-top:0}
.nav-cybernetics .right-nav-block{float:right;height:185px}
.nav-cybernetics .right-nav-block .search-language-login{margin-top:10px;height:45px}
.nav-cybernetics .right-nav-block .search-language-login .search-form{float:right;margin:0;border:0;padding:0}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{display:none;height:44px;outline:0;background-color:transparent;border-radius:0;border-bottom:1px solid #fff;border-top:0;border-right:0;border-left:0;font-family:OpenSans-Regular,sans-serif;color:#fff;font-size:1.125em}
@media (min-width:992px){.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:220px}
}
@media (min-width:1200px){.nav-cybernetics .logo-block .logo-header .header-title-text{max-width:376px}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:400px}
}
@media (min-width:1400px){.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search{width:550px}
}
.nav-cybernetics .right-nav-block .search-language-login .search-form .input-search:focus{box-shadow:none}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-input{display:block}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search{background-color:transparent;border:none;outline:0;color:#fff;border-radius:0;margin-left:10px;width:44px;height:44px;padding:0}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search:hover{color:#05dcb9}
.nav-cybernetics .right-nav-block .search-language-login .search-form .btn-search .icon-search{font-size:1.125em}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-btn{background-color:#05dcb9}
.nav-cybernetics .right-nav-block .search-language-login .search-form .active-btn:hover{color:#fff}
.nav-cybernetics .right-nav-block .search-language-login .sll-text{float:right;margin-top:10px;font-family:OpenSans-Regular,sans-serif;color:#fff;font-size:1.125em;font-weight:400;margin-left:10px;letter-spacing:1px;outline:0;text-decoration:none}
.nav-cybernetics .right-nav-block .search-language-login .sll-text:hover{color:#05dcb9}
.nav-cybernetics .right-nav-block .link-to-other-page{height:45px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li{position:relative}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown,.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown-inside{list-style-type:none;padding:0}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown-inside{position:absolute;right:9999px;width:260px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top{display:inline;float:right}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top a{display:block}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{background-color:transparent;text-decoration:none;font-family:OpenSans-Semibold,sans-serif;color:#fff;font-weight:600;line-height:44px;text-align:center;height:44px}
.active,.carousel,.carousel-inner,.fill,.item{height:100%}
@media (min-width:992px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 5px;font-size:1.1em}
}
@media (min-width:1200px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 10px;font-size:1.25em}
}
@media (min-width:1400px){.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top{padding:0 32px}
}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown a.dropdown-top:hover{background-color:#05dcb9;color:#282828}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover{background-color:#05dcb9}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover a.dropdown-top{color:#282828}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown li.dropdown-top:hover .dropdown-inside{display:block;right:0}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside{background:url(../img/bg-image.png);background-size:cover}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside a{font-family:OpenSans-Regular,sans-serif;color:#282828;font-size:1.125em;font-weight:400;line-height:40px;text-align:left;text-decoration:none;padding-left:30px}
.nav-cybernetics .right-nav-block .link-to-other-page ul.dropdown .dropdown-inside a:hover{color:#000;text-decoration:underline}
.nav-cybernetics .right-nav-block .social-link{margin-top:20px;float:right}
.nav-cybernetics .right-nav-block .social-link .link{display:inline-block;margin-left:30px}
.fill{width:100%;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
.carousel .stop-carousel{z-index:11}
.carousel .carousel-indicators{width:auto;margin-left:0;margin-right:50px;right:0;left:auto}
.carousel .carousel-indicators li{border-radius:0;border:3px solid #05dcb9;width:38px;height:38px;margin:0}
.carousel .carousel-indicators .active{border:3px solid #05dcb9;background-color:#05dcb9}
.carousel .carousel-caption{left:0;right:0;bottom:50%;background-color:rgba(0,0,0,.6);height:206px;margin-bottom:-103px;padding:0}
.carousel .carousel-caption .slider-header-1{font-family:OpenSans-Semibold,sans-serif;color:#05dcb8;font-size:4.5em;font-weight:600}
.carousel .carousel-caption .slider-header-2{font-family:OpenSans-Regular,sans-serif;color:#05dcb8;font-size:2.25em;font-weight:400}
.carousel .icon-left{width:35px;height:66px;margin-top:-33px;left:20%}
.carousel .icon-right{width:35px;height:66px;margin-top:-33px;left:70%}
.slider-mini{width:90%;margin-top:50px;margin-bottom:50px}
.slider-mini:focus:active{outline:0}
.slider-mini .slick-slide{height:80px}
.slider-mini .slick-slide:focus:active{outline:0}
@media (min-width:300px) and (max-width:394px){.slider-mini .slick-slide{height:50px}
}
.slider-mini .link-slider{outline:0}
.slider-mini .carousel-image{display:inline-block;float:left;margin-left:20px;height:80px;margin-right:20px}
.slider-mini .carousel-image:focus:active{outline:0}
@media (max-width:767px){.slider-mini .carousel-image{margin-left:40px}
.slider-mini .carousel-text{width:57%;margin-top:8px;font-size:1.2em}
}
.slider-mini .carousel-text{font-family:OpenSans-Light,sans-serif;color:#282828;font-weight:300;text-align:left;display:inline-block;float:left;margin-bottom:0}
.slider-mini .carousel-text:focus:active{outline:0}
@media (min-width:768px){.slider-mini .carousel-text{width:57%;margin-top:8px;font-size:1.2em}
}
@media (min-width:992px){.slider-mini .carousel-text{width:60%;margin-top:8px;font-size:1.4em}
}
@media (min-width:1200px){.slider-mini .carousel-text{width:57%;margin-top:8px;font-size:1.2em}
}
@media (min-width:1400px){.slider-mini .carousel-text{width:55%;margin-top:0;font-size:1.5em}
}
@media (min-width:300px) and (max-width:394px){.slider-mini .carousel-image{height:50px;margin-left:20px}
.slider-mini .carousel-text{font-size:.9em;width:55%;margin-top:0}
}
@media (min-width:395px) and (max-width:480px){.slider-mini .carousel-text{font-size:1em;width:50%;margin-top:13px}
}
@media (max-width:767px){.slider-mini .size-rada{width:105px}
}
@media (min-width:768px){.slider-mini .size-rada{width:110px}
}
@media (min-width:992px){.slider-mini .size-rada{width:115px}
}
@media (min-width:1200px){.slider-mini .size-rada{width:30%}
}
@media (min-width:1400px){.slider-mini .size-rada{width:30%}
}
@media (min-width:1745px){.slider-mini .size-rada{width:40%}
}
.slider-mini .shape-left{width:35px;height:66px;left:-3.5%}
.slider-mini .shape-right{width:35px;height:66px;right:-3.5%}
@media (max-width:767px){.slider-mini .shape-left{left:-25px}
.slider-mini .shape-right{right:-25px}
}
.main{background-color:#adaeaf}
.main .information-block{width:80%;margin-bottom:40px}
.main .information-block .header-title{font-family:OpenSans-Semibold,sans-serif;color:#282828;font-size:1.875em;font-weight:600;text-align:left;transform:scaleX(1.0016);margin-bottom:30px}
.main .information-block .header-text{font-family:OpenSans-Regular,sans-serif;color:#181818;font-size:1.375em;font-weight:400;text-align:left;line-height:30px;text-decoration:none;position:relative}
.main .information-block .header-text:after{content:'';position:absolute;bottom:0;left:0;width:100%;border-bottom:2px solid #181818;transition:1s}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}
.main .information-block .image-entrants,.main .information-block .image-schedule,.main .information-block .image-webcam{height:250px;margin-bottom:30px;border:5px solid #fff;box-shadow:0 0 10px #353434}
.main .information-block .header-text:hover:after{width:0}
.main .information-block .image-entrants{background:url(../img/vstyp.jpg) 50% 50% no-repeat;background-size:cover}
.main .information-block .image-schedule{background:url(../img/abitur.jpg) 50% 50% no-repeat;background-size:cover}
.main .information-block .image-webcam{background:url(../img/webka.png) 50% 50% no-repeat;background-size:cover}
.content{background:url(../img/bg-image.png);margin-left:20px;margin-right:20px}
.content .news{margin-left:-20px;margin-right:-20px}
.content .news .header-news{width:80%}
.content .news .header-news .header-title{font-family:OpenSans-Semibold,sans-serif;color:#282828;font-size:1.875em;font-weight:600;text-align:left;transform:scaleX(1.0016);margin-bottom:0;margin-top:40px}
.content .news .news-block{width:80%;margin-top:25px;margin-bottom:25px}
.content .news .news-block .header-title{font-family:OpenSans-Regular,sans-serif;color:#181818;font-size:1.375em;font-weight:400;text-decoration:underline;text-align:left;margin-top:30px}
.content .news .news-block .image-block{box-shadow:0 0 10px #000;border:5px solid #adaeaf}
.content .news .news-block .image-block .news-image{width:100%}
.content .news .news-block .date{font-family:OpenSans-LightItalic,sans-serif;color:#727272;font-size:1.125em;font-style:italic;text-align:right}
.slick-dots li button:before,.slick-next:before,.slick-prev:before{font-family:slick;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-slider{box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{left:0;top:0}
.slick-track:after,.slick-track:before{content:"";display:table}
.slick-track:after{clear:both}
.slick-slide{float:left;height:100%;min-height:1px;display:none}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}
.slick-loading .slick-list{background:url(../img/ajax-loader.gif) center center no-repeat #fff}
@font-face{font-family:slick;src:url(../fonts/slick.eot);src:url(../fonts/slick.eot?#iefix) format("embedded-opentype"),url(../fonts/slick.woff) format("woff"),url(../fonts/slick.ttf) format("truetype"),url(../fonts/slick.svg#slick) format("svg");font-weight:400;font-style:normal}
.slick-next,.slick-prev{height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:0 0;color:transparent;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border:none;outline:0}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{outline:0;background:0 0;color:transparent}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}
.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;color:#fff;opacity:.75}
.slick-prev{left:-25px}
[dir=rtl] .slick-prev{left:auto;right:-25px}
.slick-prev:before{content:"←"}
.slick-next:before,[dir=rtl] .slick-prev:before{content:"→"}
.slick-next{right:-25px}
[dir=rtl] .slick-next{left:-25px;right:auto}
[dir=rtl] .slick-next:before{content:"←"}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{bottom:-25px;list-style:none;text-align:center;margin:0;width:100%}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{border:0;background:0 0;display:block;height:20px;width:20px;outline:0;line-height:0;font-size:0;color:transparent;padding:5px;cursor:pointer}
.slick-dots li button:focus,.slick-dots li button:hover{outline:0}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-size:6px;line-height:20px;text-align:center;color:#000;opacity:.25}
.footer .copyright-block .copyright-container .copyright,.footer .footer-link-text,.footer .footer-text{font-family:OpenSans-Regular,sans-serif;font-weight:400}
.slick-dots li.slick-active button:before{color:#000;opacity:.75}
.footer{min-height:200px}
.footer .main-footer-block{padding-top:40px;padding-bottom:20px;background-color:#2e2e2e}
.footer .footer-link-text{color:#fff;text-align:left;outline:0;text-decoration:none;display:block;position:relative}
@media (min-width:768px){.footer .footer-link-text{font-size:1.1em}
}
@media (min-width:1200px){.footer .footer-link-text{font-size:1.25em}
}
.footer .footer-link-text:hover{color:#05dcb9}
.footer .footer-text{color:#fff;text-align:center}
.footer .no-link{text-align:center;display:inline-block;border-bottom:1px solid #fff}
.footer .no-link:hover{color:#fff}
.footer .footer-no-link-center{display:block;text-align:center}
.footer .footer-text-block{height:50px}
@media (max-width:767px){.footer .main-footer-block{padding-top:20px}
.footer .footer-text-block{height:35px;margin-left:8px}
}
.footer .footer-text-block .image-block{float:left;width:50px;height:50px;display:inline-block}
@media (min-width:768px){.footer .footer-text-block .image-block{margin-right:15px;margin-left:10px}
}
@media (min-width:992px){.footer .footer-text{font-size:1.1em}
.footer .footer-text-block .image-block{margin-right:15px;margin-left:20px}
}
@media (min-width:1200px){.footer .footer-text{font-size:1.25em}
.footer .footer-text-block .image-block{margin-right:30px;margin-left:30px}
}
.footer .footer-text-block .link-block{float:left;width:50%;display:inline-block}
@media (max-width:767px){.footer .footer-text-block .link-block{width:110px}
}
.footer .footer-text-block .no-image{width:80%}
.footer .footer-text-block .footer-icon{height:40px;margin-left:10px}
.footer .footer-text-block .mail{margin-left:0;height:30px}
.footer .copyright-block{min-height:67px;background-color:#adaeaf}
.footer .copyright-block .copyright-container{text-align:center;margin-bottom:20px}
.footer .copyright-block .copyright-container .link-icon{margin-right:30px;outline:0;text-decoration:none}
.footer .copyright-block .copyright-container .link-icon:last-child{margin-right:0}
.footer .copyright-block .copyright-container .copyright{color:#010000;font-size:1.313em;text-align:center;margin-bottom:0;margin-top:20px}
@media (max-width:767px){.footer .footer-text-block .no-image{width:110px}
.footer .copyright-block .copyright-container .copyright{font-size:1em}
}
.footer .copyright-block .copyright-container .copyright-hr{width:80%;border-top:3px solid #272828;margin-top:0}
@media (max-width:767px){.footer .copyright-block .copyright-container .copyright-hr{width:100%}
.footer .animate-hr:after{content:'';position:absolute;bottom:0;left:0;width:100%;border-bottom:1px solid #fff}
.footer .address-block{margin-top:20px;margin-bottom:20px}
}
@media (min-width:768px){.footer .animate-hr:after{content:'';position:absolute;bottom:0;left:0;width:100%;border-bottom:1px solid #fff;transition:1s}
.footer .animate-hr:hover:after{width:0;border-color:#05dcb9}
}
.mobile-first-screen{height:100vh;background:url(../img/m-first-p.jpg) center center no-repeat;background-size:cover}
.mobile-first-screen .mobile-logo{display:inline-block;position:absolute;left:20px;top:20px}
.mobile-first-screen .mobile-logo .m-image-logo{width:40px}
.mobile-first-screen .header-logo-text{margin-top:35vh;position:absolute;width:100%;background-color:rgba(0,0,0,.6);text-align:center}
.mobile-first-screen .header-logo-text .m-image-logo{margin-top:10px;width:35px}
.mobile-first-screen .header-logo-text .header-title{font-family:OpenSans-Bold,sans-serif;color:#05dcb9;font-weight:700;text-align:center;font-size:1.4em;margin-bottom:0;margin-top:3px}
.mobile-first-screen .header-logo-text .header-title-text{font-family:OpenSans-Regular,sans-serif;color:#05dcb9;font-size:.95em;font-weight:400;text-align:center;margin-bottom:20px;margin-top:0}
#container{background:0 0;padding:20px;z-index:1;position:absolute;right:0}
.menu-btn{border-radius:5px;border:2px solid #fff;background-color:rgba(60,170,210,0);box-shadow:1px 3px 1px 0 rgba(0,0,0,.2);width:38px;height:40px;padding:1px 6px 0;cursor:pointer;color:#fff;outline:0}
.menu-btn .menu-text{font-size:.6em;margin-top:-2px;margin-left:-3px;display:block;text-transform:uppercase}
.close-block{height:85px}
.close-btn{margin-top:20px;margin-right:20px;float:right}
.menu-btn:hover{background:0 0;color:#FFF}
.nav-text-mobile{font-family:OpenSans-Regular,sans-serif,sans-serif;font-size:.938em;font-weight:500;line-height:30px;text-shadow:0 1px 1px rgba(0,0,0,.2)}
.pushy{position:fixed;width:225px;height:100%;top:0;right:0;z-index:9999;background:#202020;font-size:.9em;font-weight:700;-webkit-box-shadow:inset -10px 0 6px -9px rgba(0,0,0,.7);-moz-box-shadow:inset -10px 0 6px -9px rgba(0,0,0,.7);box-shadow:inset -10px 0 6px -9px rgba(0,0,0,.7);overflow:auto;-webkit-overflow-scrolling:touch}
.pushy a{display:block;color:#fff;padding:0 30px;text-decoration:none;text-align:right}
.pushy a:hover{color:#FFF}
.pushy li{list-style-type:none}
.pushy-left{-webkit-transform:translate3d(225px,0,0);-moz-transform:translate3d(225px,0,0);-ms-transform:translate3d(225px,0,0);-o-transform:translate3d(225px,0,0);transform:translate3d(225px,0,0)}
.pushy-open{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.container-push,.push-push{-webkit-transform:translate3d(-225px,0,0);-moz-transform:translate3d(-225px,0,0);-ms-transform:translate3d(-225px,0,0);-o-transform:translate3d(-225px,0,0);transform:translate3d(-225px,0,0)}
#container,.push,.pushy{-webkit-transition:-webkit-transform .2s cubic-bezier(.16,.68,.43,.99);-moz-transition:-moz-transform .2s cubic-bezier(.16,.68,.43,.99);-o-transition:-o-transform .2s cubic-bezier(.16,.68,.43,.99);transition:transform .2s cubic-bezier(.16,.68,.43,.99)}
.site-overlay{display:none}
.pushy-active .site-overlay{display:block;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9998;background-color:rgba(0,0,0,.5);-webkit-animation:fade .5s;-moz-animation:fade .5s;-o-animation:fade .5s;animation:fade .5s}
@keyframes fade{0%{opacity:0}
100%{opacity:1}
}
@-moz-keyframes fade{0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes fade{0%{opacity:0}
100%{opacity:1}
}
@-o-keyframes fade{0%{opacity:0}
100%{opacity:1}
}
@media screen and (max-width:768px){.pushy{font-size:1em}
}