.card-block {
  float: left;
  .information-card {
    float: left;
    margin-bottom: 50px;
    .photo-block {
      width: 120px;
      float: left;
      @media #{$bootstrap-xs} {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .card-image {
        border: 4px solid $global-color-white;
        box-shadow: 0 0 10px #353434;
        width: 100px;
        margin-right: 20px;
        @media #{$bootstrap-xs} {
          margin-right: 0;
        }
      }
    }
    .info-text-block {
      width: calc( 100% - 120px);
      float: left;
      @media #{$bootstrap-xs} {
        width: 100%;
        text-align: center;
      }
      .name {
        font-size: 1em;
        line-height: 20px;
        text-align: left;
        border: none;
        margin: 0;
      }
      p {
        margin-bottom: 5px;
        font-family: $text-font-3;
      }
      .info-name {
        margin-bottom: 10px;
      }
      span {
        @media #{$bootstrap-xs} {

        }
        @media #{$bootstrap-sm} {
          display: block;
          margin-left: 0;
        }
        @media #{$bootstrap-lg} {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
}