.list {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-family: $open-sans-reg;
  .text-list {
    list-style-type: circle;
    .bold-text {
      font-weight: 600;
    }
  }
  .numeric-list {
    list-style-type: decimal;
  }
}
.double-list {
  margin-top: 0;
}

.company-info {
  color: blue;
}

.schedule-table {
  float: left;
  margin-top: 10px;
  border: 2px solid #05dcb9;
  border-right: none;
  border-bottom: none;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1em;
  font-family: $open-sans-reg;
  .weekday {
    width: 20%;
    display: inline-block;
    float: left;
    border-right: 2px solid #05dcb9;
    @media #{$bootstrap-xs} {
      width: 100%;
    }
    &:last-child {

    }
    .name-weekday {
      text-align: center;
      padding: 5px;
      background-color: #05dcb9;
    }
    .para {
      text-align: center;
      padding: 5px;
      border-bottom: 2px solid #05dcb9;

    }
  }
}
.documents-link {
  font-family: $open-sans-reg;
  font-size: 1em;
}
.weekday-text {
  font-family: $open-sans-semi-bold;
  font-size: 1.2em;
  color: red;
}
.library {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $global-color-blue;
  font-size: 1em;
  font-family: $open-sans-reg;


}