.information-table {
  border: 3px solid $global-color-blue;
  font-family: $text-font-2;
  .big-table-block {
    text-align: left;
    vertical-align: middle;
  }
  tbody tr:nth-of-type(odd) {
    background: rgba(5, 220, 185, 0.15);
  }
  tbody tr:first-child {
    background: $global-color-blue;
  }
}

.select-block {
  margin-top: 20px;
}

.btn-select {
  position: relative;
  padding: 0;
  min-width: 236px;
  width: 200px;
  border-radius: 0;
  margin-bottom: 20px;
  border: 2px solid $global-color-blue;
  background-color: $global-color-blue;
  box-shadow: none;
  font-family: $open-sans-reg;
}

.btn-select .btn-select-value {
  padding: 6px 12px;
  display: block;
  position: absolute;
  left: 0;
  right: 34px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 10px;
  top: 0;
}

.btn-select ul {
  display: none;
  background-color: white;
  color: black;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none !important;
  position: absolute;
  left: -2px;
  right: -2px;
  top: 34px;
  z-index: 999;
}

.btn-select ul li {
  padding: 3px 13px;
  text-align: left;
}

.btn-select ul li:hover {
  background-color: $global-color-blue;
}

.btn-select ul li.selected {
  color: black;
  background-color: $global-color-blue;
  &:hover {
    color: black;
  }
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
  border-color: #f7f7f7;
}

.btn-select.btn-default ul li.selected {
  background-color: #f7f7f7;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
  background-color: white;
  border: #f7f7f7 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
  background-color: #e6e6e6;
}
/* Default End */


.btn-select.btn-select-light .btn-select-value {
  background-color: white;
  color: black;
}