.carousel {
  .stop-carousel {
    z-index: 11;
  }
  .carousel-indicators {
    width: auto;
    margin-left: 0;
    margin-right: 50px;
    right: 0;
    left: auto;
    li {
      border-radius: 0;
      border: 3px solid $global-color-blue;
      width: 38px;
      height: 38px;
      margin: 0;
    }
    .active {
      border: 3px solid $global-color-blue;
      background-color: $global-color-blue;
    }
  }
  .carousel-caption {
    left: 0;
    right: 0;
    bottom: 50%;
    background-color:  rgba(0, 0, 0, 0.6);
    height: 206px;
    margin-bottom: -103px;
    padding: 0;
    .slider-header-1 {
      font-family: $open-sans-semi-bold;
      color:  #05dcb8;
      font-size: 4.500em;
      font-weight: 600;
    }
    .slider-header-2 {
      font-family: $open-sans-reg;
      color:  #05dcb8;
      font-size: 2.250em;
      font-weight: 400;
    }
  }
  .icon-left {
    width: 35px;
    height: 66px;
    margin-top: -33px;
    left: 20%;
  }
  .icon-right {
    width: 35px;
    height: 66px;
    margin-top: -33px;
    left: 70%;
  }
}

.slider-mini {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  .slick-slide {
    height: 80px;
    @media (min-width: 300px) and (max-width: 394px) {
      height: 50px;
    }
  }
  .carousel-image {
    display: inline-block;
    float: left;
    margin-left: 20px;
    height: 80px;
    margin-right: 20px;
    @media #{$bootstrap-xs} {
      margin-left: 40px;
    }
    @media (min-width: 300px) and (max-width: 394px) {
      height: 50px;
      margin-left: 20px;
    }

  }
  .carousel-text {
    font-family: $open-sans-light;
    color:  #282828;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    float: left;
    margin-bottom: 0;

    @media #{$bootstrap-xs} {
      width: 57%;
      margin-top: 8px;
      font-size: 1.200em;
    }
    @media #{$bootstrap-sm} {
      width: 57%;
      margin-top: 8px;
      font-size: 1.200em;
    }
    @media #{$bootstrap-md} {
      width: 60%;
      margin-top: 8px;
      font-size: 1.400em;
    }
    @media #{$bootstrap-lg} {
      width: 57%;
      margin-top: 8px;
      font-size: 1.200em;
    }
    @media #{$bootstrap-xl} {
      width: 55%;
      margin-top: 0;
      font-size: 1.500em;
    }
    @media (min-width: 300px) and (max-width: 394px) {
      font-size: 0.9em;
      width: 55%;
      margin-top: 0;
    }
    @media (min-width: 395px) and (max-width: 480px) {
      font-size: 1em;
      width: 50%;
      margin-top: 13px;
    }
    //@media #{$bootstrap-xxl} {
    //  width: 70%;
    //  margin-top: 10px;
    //  font-size: 1.500em;
    //}
  }
  .size-rada {
    @media #{$bootstrap-xs} {
      width: 105px;
    }
    @media #{$bootstrap-sm} {
      width: 110px;
    }
    @media #{$bootstrap-md} {
      width: 115px;
    }
    @media #{$bootstrap-lg} {
      width: 30%;
    }
    @media #{$bootstrap-xl} {
      width: 30%;
    }
    @media #{$bootstrap-xxl} {
      width: 40%;
    }
  }
  .shape-left {
    width: 35px;
    height: 66px;
    left: -3.5%;
    @media #{$bootstrap-xs} {
      left: -25px;
    }
  }
  .shape-right {
    width: 35px;
    height: 66px;
    right: -3.5%;
    @media #{$bootstrap-xs} {
      right: -25px;
    }
  }
}
