.main {
  background-color: #adaeaf;
  .information-block {
    width: 80%;
    margin-bottom: 40px;
    .header-title {
      font-family: $open-sans-semi-bold;
      color: #282828;
      font-size: 1.875em;
      font-weight: 600;
      text-align: left;
      transform: scaleX(1.0016);
      margin-bottom: 30px;
    }
    .header-text {
      font-family: $open-sans-reg;
      color:  #181818;
      font-size: 1.375em;
      font-weight: 400;
      text-align: left;
      line-height: 30px;
      text-decoration: none;
      position: relative;
    }
    .header-text:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #181818;
      transition: 1s;
    }
    .header-text:hover:after {
      width: 0%;
    }
    .image-entrants {
      background: url("../img/vstyp.jpg") 50% 50% no-repeat;
      background-size: cover;
      height: 250px;
      margin-bottom: 30px;
      border: 5px solid $global-color-white;
      box-shadow: 0 0px 10px #353434;
    }
    .image-schedule {
      background: url("../img/abitur.jpg") 50% 50% no-repeat;
      background-size: cover;
      height: 250px;
      margin-bottom: 30px;
      border: 5px solid $global-color-white;
      box-shadow: 0 0px 10px #353434;
    }
    .image-webcam {
      background: url("../img/webka.png") 50% 50% no-repeat;
      background-size: cover;
      height: 250px;
      margin-bottom: 30px;
      border: 5px solid $global-color-white;
      box-shadow: 0 0px 10px #353434;
    }
  }
}

.content {
  background: url("../img/bg-image.png");
  margin-left: 20px;
  margin-right: 20px;
  .news {
    margin-left: -20px;
    margin-right: -20px;
    .header-news {
      width: 80%;
      .header-title {
        font-family: $open-sans-semi-bold;
        color: #282828;
        font-size: 1.875em;
        font-weight: 600;
        text-align: left;
        transform: scaleX(1.0016);
        margin-bottom: 0;
        margin-top: 40px;
      }
    }
    .news-block {
      width: 80%;
      margin-top: 25px;
      margin-bottom: 25px;
      .header-title {
        font-family: $open-sans-reg;
        color:  #181818;
        font-size: 1.375em;
        font-weight: 400;
        text-decoration: underline;
        text-align: left;
        margin-top: 30px;
      }
      .image-block {
        box-shadow: 0 0px 10px #000000;
        border: 5px solid #adaeaf;
        .news-image {
          width: 100%;
        }
      }
      .date {
        font-family: $open-sans-light-italic;
        color:  #727272;
        font-size: 1.125em;
        font-style: italic;
        text-align: right;
      }
    }
  }
}