.loginModal{
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      min-height: 400px;
      margin-left: -45%;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      top: 50%;
      width: 500px;
      min-height: 400px;
      margin-top: -200px;
      margin-left: -250px;
    }
    .modal-content {
      border-radius: 0;
      background: url("../img/bg-image.png");
      border: none;
      ::selection {
        background: transparent;
      }
      ::-moz-selection {
        background: transparent;
      }
      @media #{$bootstrap-xs} {
        width: 100%;
        min-height: 400px;
      }
      @media #{$bootstrap-sm} {
        width: 500px;
        min-height: 400px;
      }
      .modal-header {
        border: none;
        .close-button {
          opacity: 0.8;
          outline: none;
          &:hover {
            opacity: 1;
          }
        }
      }
      .modal-body {
        text-align: center;
        .block-input {
          display: block;
          width: 100%;
          height: 60px;
          label {
            font-family: $open-sans-light;
            color: #282828;
            font-size: 2.250em;
            font-weight: 100;
            margin-bottom: 0;
            float: left;
            margin-left: 25px;
          }
          .log-in {
            margin-left: 65px;
          }
          input {
            border-radius: 0;
            border: 1px solid #cbcbcb;
            box-sizing: border-box;
            background-color: #f9f9f9;
            height: 50px;
            padding:10px 10px 10px 20px;
            outline: none;
            font-family: $open-sans-reg;

            ::-webkit-input-placeholder {
              padding-left: 20px;
              font-family: $open-sans-reg;
              color: #4a4b4c;
              font-size: 1em;
              font-weight: 300;
              line-height: 24px;
              text-align: left;
            }
            ::-moz-placeholder {
              padding-left: 20px;
              font-family: $open-sans-reg;
              color: #4a4b4c;
              font-size: 1em;
              font-weight: 300;
              line-height: 24px;
              text-align: left;
            }
            :-moz-placeholder {
              padding-left: 20px;
              font-family: $open-sans-reg;
              color: #4a4b4c;
              font-size: 1em;
              font-weight: 300;
              line-height: 24px;
              text-align: left;
            }
            :-ms-input-placeholder {
              padding-left: 20px;
              font-family: $open-sans-reg;
              color: #4a4b4c;
              font-size: 1em;
              font-weight: 300;
              line-height: 24px;
              text-align: left;
            }
            @media #{$bootstrap-xs} {
              width: 90%;
            }
            @media #{$bootstrap-sm} {
              width: 260px;
            }
          }
        }
        .error-message {
          color: red;
          margin-top: 15px;
          font-family: $open-sans-reg;
          font-size: 1em;
          display: none;
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        .btn-enter {
          background-color:  #05dcb9;
          width: 420px;
          height: 76px;
          margin-bottom: 20px;
          font-family: $open-sans-reg;
          font-weight: 400;
          color:  #282828;
          font-size: 36px;
          text-align: center;
          outline: none;
        }
        .check-btn {
          margin-top: 10px;
          .check-text {
            float: left;
            font-family: $open-sans-light-italic;
            font-style: italic;
            font-weight: 100;
            line-height: 34px;
            color:  #727272;
            font-size: 1.875em;
            text-align: center;
          }
          input[type=checkbox].with-font {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          input[type=checkbox].with-font ~ label:before {
            font-family: FontAwesome, "sans-serif";
            display: inline-block;
            letter-spacing: 10px;
            color: #727272;
            width: 40px;
            margin-left: 20px;
            font-style: normal;
          }
          input[type=checkbox].with-font ~ label:before {
            content: "\f096";
          }
          input[type=checkbox].with-font:checked ~ label:before {
            content: "\f046";
            color: $global-color-blue;
          }
          input[type=checkbox].with-font:focus:active ~ label:before {
            color: $global-color-blue;
          }

          input[type=checkbox].with-font:focus ~ label {
            color: #727272
          }
        }
      }
    }
  }
}