@import "mixins";

html,
body {
  height: 100%;
  font-size: 16px;
}

ol, ul, label {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing {
  background-color: #adaeaf;
}

.information-link {
  background: url("../img/bg-image.png");
  background-color: #adaeaf;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.ttf") format("truetype"),
  url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-Semibold.woff") format("woff"),
  url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
  url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.ttf") format("truetype"),
  url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: url("../fonts/OpenSans-LightItalic.eot#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-LightItalic.woff") format("woff"),
  url("../fonts/OpenSans-LightItalic.ttf") format("truetype"),
  url("../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans-Light.woff") format("woff"),
  url("../fonts/OpenSans-Light.ttf") format("truetype"),
  url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UBUNTU-BOLD";
  src: url("../fonts/UBUNTU-BOLD.eot");
  src: url("../fonts/UBUNTU-BOLD.eot#iefix") format("embedded-opentype"),
  url("../fonts/UBUNTU-BOLD.woff") format("woff"),
  url("../fonts/UBUNTU-BOLD.otf") format("opentype"),
  url("../fonts/UBUNTU-BOLD.ttf") format("truetype"),
  url("../fonts/UBUNTU-BOLD.svg#UBUNTU-BOLD") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UBUNTU-MEDIUM";
  src: url("../fonts/UBUNTU-MEDIUM.eot");
  src: url("../fonts/UBUNTU-MEDIUM.eot#iefix") format("embedded-opentype"),
  url("../fonts/UBUNTU-MEDIUM.woff") format("woff"),
  url("../fonts/UBUNTU-MEDIUM.otf") format("opentype"),
  url("../fonts/UBUNTU-MEDIUM.ttf") format("truetype"),
  url("../fonts/UBUNTU-MEDIUM.svg#UBUNTU-MEDIUM") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UBUNTU-LIGHT";
  src: url("../fonts/UBUNTU-LIGHT.eot");
  src: url("../fonts/UBUNTU-LIGHT.eot#iefix") format("embedded-opentype"),
  url("../fonts/UBUNTU-LIGHT.woff") format("woff"),
  url("../fonts/UBUNTU-LIGHT.otf") format("opentype"),
  url("../fonts/UBUNTU-LIGHT.ttf") format("truetype"),
  url("../fonts/UBUNTU-LIGHT.svg#UBUNTU-LIGHT") format("svg");
  font-weight: normal;
  font-style: normal;
}

$test1: 'Exo 2', sans-serif;
// global fonts
$text-font-2: 'UBUNTU-LIGHT', sans-serif;
$text-font: 'UBUNTU-MEDIUM', sans-serif;
$header-font: 'UBUNTU-BOLD', sans-serif;
$open-sans-light: "OpenSans-Light", "sans-serif";
$open-sans-light-italic: "OpenSans-LightItalic", "sans-serif";
$open-sans-bold: "OpenSans-Bold", "sans-serif";
$open-sans-semi-bold: "OpenSans-Semibold", "sans-serif";
$open-sans-reg: "OpenSans-Regular", "sans-serif";

// global colors
$global-color-blue: #05dcb9;
$global-color-white: #ffffff;
$global-color-grey: #adaeaf;

//fix popup
body.modal-open-noscroll {
  margin-right: 0 !important;
  overflow: hidden;
}

.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0 !important;
}

@import "settings/slick";
@import "settings/slick-theme";
@import "news/new";
@import "partials/navbar";
@import "partials/footer";
@import "partials/navbar-mobile";
@import "partials/animation-images";
@import "landing/carusel";
@import "landing/main-information";
@import "landing/main-first-screen-mobile";
@import "landing/popup";
@import "content/content-page";
@import "content/side-nav";