.top-block-grey {
  background-color: $global-color-grey;
  @media #{$bootstrap-xs} {
    height: 100px;
  }
  @media #{$bootstrap-sm} {
    height: 100px;
  }
  @media #{$bootstrap-md} {
    height: 235px;
  }
}

.left-block-grey {
  height: 20px;
  width: 200px;
  float: left;
  background-color: #adaeaf;
  @media #{$bootstrap-xs} {
    width: 20%;
  }
}

.other-page {
  @media #{$bootstrap-xs} {
    height: 94px;
  }
  @media #{$bootstrap-sm} {
    height: 94px;
  }
  @media #{$bootstrap-md} {
    height: 200px;
  }
}

//social-icon
.cp-icon {
  font-size: 1.5em;
  color:$global-color-white;
  &:hover {
    color: $global-color-blue;
  }
}

