.other-page {
  @media #{$bootstrap-xs} {
    height: 94px;
  }
  @media #{$bootstrap-sm} {
    height: 94px;
  }
  @media #{$bootstrap-md} {
    height: 200px;
  }
}

//social-icon
.cp-icon {
  font-size: 1.5em;
  color:$global-color-white;
  &:hover {
    color: $global-color-blue;
  }
}

#lightgallery {
  text-align: center;
  padding: 20px;
  a {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    img {
      width: 100%;
    }
  }
}

