.footer {
  min-height: 200px;
  .main-footer-block {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:  rgb(46,46,46);
    @media #{$bootstrap-xs} {
      padding-top: 20px;
    }
  }
  .footer-link-text {
    font-family: $open-sans-reg;
    color:  #ffffff;
    font-weight: 400;
    text-align: left;
    outline: none;
    text-decoration: none;
    display: block;
    position: relative;
    @media #{$bootstrap-sm} {
      font-size: 1.1em;
    }
    @media #{$bootstrap-lg} {
      font-size: 1.25em;
    }
    &:hover {
      color: $global-color-blue;
    }
  }

  .footer-text {
    font-family: $open-sans-reg;
    color:  #ffffff;
    font-weight: 400;
    text-align: center;
    @media #{$bootstrap-md} {
      font-size: 1.1em;
    }
    @media #{$bootstrap-lg} {
      font-size: 1.25em;
    }
  }
  .no-link {
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid white;
    &:hover {
      color: #ffffff;
    }
  }
  .footer-no-link-center {
    display: block;
    text-align: center;
  }
  .footer-text-block {
    height: 50px;
    @media #{$bootstrap-xs} {
      height: 35px;
      margin-left: 8px;
    }
    .image-block {
      float: left;
      width: 50px;
      height: 50px;
      display: inline-block;
      @media #{$bootstrap-sm} {
        margin-right: 15px;
        margin-left: 10px;
      }
      @media #{$bootstrap-md} {
        margin-right: 15px;
        margin-left: 20px;
      }
      @media #{$bootstrap-lg} {
        margin-right: 30px;
        margin-left: 30px;
      }
    }
    .link-block {
      float: left;
      width: 50%;
      display: inline-block;
      @media #{$bootstrap-xs} {
        width: 110px;
      }
    }
    .no-image {
      width: 80%;
      @media #{$bootstrap-xs} {
        width: 110px;
      }
    }
    .footer-icon {
      height: 40px;
      margin-left: 10px;
    }
    .mail {
      margin-left: 0;
      height: 30px;
    }
  }
  .copyright-block {
    min-height: 67px;
    background-color:  #adaeaf;
    .copyright-container {
      text-align: center;
      margin-bottom: 20px;
      .cp-icon {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      .copyright {
        font-family: $open-sans-reg;
        color: #010000;
        font-size: 1.313em;
        font-weight: 400;
        text-align: center;
        margin-bottom: 0;
        margin-top: 20px;
        @media #{$bootstrap-xs} {
          font-size: 1em;
        }
      }
      .copyright-hr {
        width: 80%;
        border-top: 3px solid #272828;
        margin-top: 0;
        @media #{$bootstrap-xs} {
          width: 100%;
        }
      }
    }
  }
  @media #{$bootstrap-xs} {
    .animate-hr:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid white;
    }
    .address-block {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  @media #{$bootstrap-sm} {
    .animate-hr:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid white;
      transition: 1s;
    }
    .animate-hr:hover:after {
      width: 0%;
      border-color: $global-color-blue;
    }
  }
}