.cd-accordion-menu {
  width: 100%;
  max-width: 600px;
  background: url("../img/bg-image.png");
  margin: 0;
  box-shadow: 0 4px 40px #adaeaf;
}

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}

.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}

.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 64px;
  background: $global-color-grey;
  box-shadow: inset 0 -1px #555960;
  color: #ffffff;
  font-size: 1.05em;
  font-weight: 700;
  font-family: $open-sans-reg;
  text-decoration: none;
  @media #{$bootstrap-xs} {
    font-size: 0.8em;
  }
  &:hover {
    background: $global-color-blue;
    color: #282828;
  }
}

.cd-accordion-menu li {
  &:hover {
    label::before {
      color: #000;
    }
  }
}

.no-touch .cd-accordion-menu label:hover a {
  background: $global-color-blue;
  text-decoration: none;
}

.no-touch .cd-accordion-menu label:hover {
  background: $global-color-blue;
}

.cd-accordion-menu label::before {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-accordion-menu label {
  cursor: pointer;
}

.cd-accordion-menu label::before {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}

.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #8c8d8e;
  box-shadow: inset 0 -1px #41444a;
  padding-left: 82px;
}

.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #717273;
}

.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}

.cd-accordion-menu ul label::before {
  left: 36px;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}

.cd-accordion-menu ul ul label::before {
  left: 54px;
}

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}

.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}

@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 15px 15px 15px 50px;
    font-size: 1.05em;
  }

  .cd-accordion-menu .no-style {
    padding: 0;
    box-shadow: none;
    font-size: 1em;
  }

  .no-style {
    padding: 0;
  }
  .cd-accordion-menu label::before {

  }

  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 66px;
  }
  .cd-accordion-menu ul label::before {

  }

  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }

  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }

}

.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.mobile-accordion {
  box-shadow: none;
  label::before {
    left: 13px;
  }
  label {
    padding: 15px 15px 15px 40px;
    font-size: 0.9em;
  }
  ul label::before {
    left: 30px;
  }
  ul label {
    padding-left: 56px;
  }
  ul ul label::before {
    left: 45px;
  }
  ul ul label {
    padding-left: 70px;
  }
  ul a {
    padding-left: 15px;
  }
  ul ul a {
    padding-left: 15px;
  }
  ul ul ul a {
    padding-left: 70px;
  }
  a {
    font-size: 0.9em;
    padding-left: 40px;
  }
  .dop-links {
    box-shadow: none;
    padding: 0;
    font-size: 1em;
  }
}
