.nav-cybernetics {
  background-color:  rgba(0, 0, 0, 0.82);
  height: 185px;
  border-radius: 0;
  border: none;
  margin-bottom: 0;

  @media #{$bootstrap-lg} {
    .no-padding {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .logo-block {
    height: 185px;
    float: left;
    display: inline-block;
    .logo-img {
      margin-top: 20px;
      width: 93px;
      float: left;
      .logo {
        width: 93px;
        height: 145px;
      }
    }
    .logo-header {
      float: left;
      max-width: 376px;
      margin-left: 10px;
      .header-title {
        font-family: $open-sans-bold;
        color:  $global-color-blue;
        font-weight: 700;
        text-align: left;
        margin-bottom: 5px;
        @media #{$bootstrap-md} {
          font-size: 1.6em;
          margin-top: 57px;
        }
        @media #{$bootstrap-lg} {
          font-size: 1.875em;
          margin-top: 62px;
        }
      }
      .header-title-text {
        font-family: $open-sans-reg;
        color:  $global-color-blue;
        font-size:  0.750em;
        font-weight: 400;
        text-align: left;
        margin-top: 0;
        @media #{$bootstrap-md} {
          max-width: 255px;
        }
        @media #{$bootstrap-lg} {
          max-width: 376px;
        }
      }
    }
  }
  .right-nav-block {
    float: right;
    height: 185px;
    .search-language-login {
      margin-top: 10px;
      height: 45px;
      .search-form {
        float: right;
        margin: 0;
        border: 0;
        padding: 0;
        .input-search {
          display: none;
          height: 44px;
          outline: none;
          background-color: transparent;
          border-radius: 0;
          border-bottom: 1px solid white;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          font-family: $open-sans-reg;
          color:  #ffffff;
          font-size: 1.125em;
          @media #{$bootstrap-md} {
            width: 220px;
          }
          @media #{$bootstrap-lg} {
            width: 400px;
          }
          @media #{$bootstrap-xl} {
            width: 550px;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .active-input {
          display: block;
        }
        .btn-search {
          background-color: transparent;
          border: none;
          outline: none;
          color: $global-color-white;
          border-radius: 0;
          margin-left: 10px;
          width: 44px;
          height: 44px;
          padding: 0;
          &:hover {
            color: $global-color-blue;
          }
          .icon-search {
            font-size: 1.125em;
          }

        }
        .active-btn {
          background-color: $global-color-blue;
          &:hover {
            color: $global-color-white;
          }
        }
      }
      .sll-text {
        float: right;
        margin-top: 10px;
        font-family: $open-sans-reg;
        color:  #ffffff;
        font-size: 1.125em;
        font-weight: 400;
        margin-left: 10px;
        letter-spacing: 1px;
        outline: none;
        text-decoration: none;
        &:hover {
          color: $global-color-blue;
        }
      }
    }
    .link-to-other-page {
      height: 45px;
      ul.dropdown li {
        position: relative;
      }
      ul.dropdown, ul.dropdown-inside {
        list-style-type: none;
        padding: 0;
      }
      ul.dropdown-inside {
        position: absolute;
        right: 9999px;
        width: 260px;
      }
      ul.dropdown li.dropdown-top {
        display: inline;
        float: right;
      }
      ul.dropdown li.dropdown-top a {
        display: block;
      }
      ul.dropdown a.dropdown-top {
        background-color: transparent;
        text-decoration: none;
        font-family: $open-sans-semi-bold;
        color:  #ffffff;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        height: 44px;
        @media #{$bootstrap-md} {
          padding: 0 5px;
          font-size: 1.1em;
        }
        @media #{$bootstrap-lg} {
          padding: 0 10px;
          font-size: 1.250em;
        }
        @media #{$bootstrap-xl} {
          padding: 0 32px;
        }
        &:hover {
          background-color: $global-color-blue;
          color: #282828;
        }
      }

      ul.dropdown li.dropdown-top {
        &:hover {
          background-color: $global-color-blue;
          a.dropdown-top {
            color: #282828;
          }
          .dropdown-inside {
            display: block;
            right: 0;
          }
        }
      }

      ul.dropdown .dropdown-inside {
        background: url("../img/bg-image.png");
        background-size: cover;
      }
      ul.dropdown .dropdown-inside a {
        font-family: $open-sans-reg;
        color:  #282828;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-decoration: none;
        padding-left: 30px;
        &:hover {
          color: #000000;
          text-decoration: underline;
        }
      }
    }
    .social-link {
      margin-top: 20px;
      float: right;
      .link {
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}