.nav-cybernetics {
  background-color: rgba(0, 0, 0, 0.82);
  height: 185px;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  transition: 0.5s;
  opacity: 0;
  width: 100%;
  position: fixed;

  @media #{$bootstrap-lg} {
    .no-padding {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .logo-block {
    height: 185px;
    float: left;
    display: inline-block;
    .logo-left-block {
      width: 180px;
      float: left;
      height: 185px;
    }
    .logo-img {
      margin-top: 44px;
      width: 100%;
      float: left;
      text-align: center;
      display: none;
      .logo {
        width: 115px;
        transition: 0.5s;
        //height: 145px;
      }
    }
    .logo-header {
      float: left;
      width: 100%;
      padding-right: 20px;
      padding-top: 54px;
      .header-title {
        font-family: $open-sans-bold;
        color: $global-color-blue;
        font-weight: 600;
        text-align: right;
        transition: 0.5s;
        font-size: 1.125em;
        letter-spacing: 1px;
        margin: 0;
        //@media #{$bootstrap-md} {
        //  font-size: 1.6em;
        //  margin-top: 57px;
        //}
        //@media #{$bootstrap-lg} {
        //  font-size: 1.875em;
        //  margin-top: 62px;
        //}
      }
    }
    .logo-right-header {
      float: left;
      width: 210px;
      margin-top: 50px;
      .header-title-text {
        transition: 0.5s;
        font-family: $open-sans-reg;
        color: $global-color-blue;
        font-size: 1em;
        font-weight: 400;
        text-align: left;
        margin-top: 0;
        letter-spacing: 0.5px;
        line-height: 20px;
        border-left: 1.5px solid white;
        padding: 10px 0 10px 20px;
        //@media #{$bootstrap-md} {
        //  max-width: 255px;
        //}
        //@media #{$bootstrap-lg} {
        //  max-width: 376px;
        //}
      }
    }
  }
  .right-nav-block {
    float: right;
    height: 185px;
    @media #{$bootstrap-md} {
      width: 400px;
    }
    @media #{$bootstrap-lg} {
      width: auto;
    }
    .search-language-login {
      margin-top: 10px;
      height: 45px;
      .search-form {
        float: right;
        margin: 0;
        border: 0;
        padding: 0;
        border: none;
        .input-search {
          display: none;
          height: 44px;
          outline: none;
          background-color: transparent;
          border-radius: 0;
          border-bottom: 1px solid white;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          font-family: $open-sans-reg;
          color: #ffffff;
          font-size: 1.125em;
          @media #{$bootstrap-md} {
            width: 220px;
          }
          @media #{$bootstrap-lg} {
            width: 400px;
          }
          @media #{$bootstrap-xl} {
            width: 550px;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .active-input {
          display: block;
        }
        .btn-search {
          background-color: transparent;
          border: none;
          outline: none;
          color: $global-color-white;
          border-radius: 0;
          margin-left: 10px;
          width: 44px;
          height: 44px;
          padding: 0;
          &:hover {
            color: $global-color-blue;
          }
          &:focus:active {
            background-color: $global-color-blue;
            color: $global-color-white;
            outline: none;
          }
          .icon-search {
            font-size: 1.125em;
          }

        }
        .active-btn {
          background-color: $global-color-blue;
          outline: none;
          &:hover {
            color: $global-color-white;
          }
        }
      }
      .sll-text {
        float: right;
        margin-top: 10px;
        font-family: $open-sans-reg;
        color: #ffffff;
        font-size: 1.125em;
        font-weight: 400;
        margin-left: 10px;
        letter-spacing: 1px;
        outline: none;
        text-decoration: none;
        &:hover {
          color: $global-color-blue;
        }
      }
    }
    .link-to-other-page {
      height: 45px;
      margin-top: 10px;
      ul.dropdown li {
        position: relative;
      }
      ul.dropdown, ul.dropdown-inside {
        list-style-type: none;
        padding: 0;
      }
      ul.dropdown-inside {
        position: absolute;
        right: 9999px;
        width: 260px;
      }
      ul.dropdown li.dropdown-top {
        display: inline;
        float: left;
      }
      ul.dropdown li.dropdown-top a {
        display: block;
      }
      ul.dropdown a.dropdown-top {
        background-color: transparent;
        text-decoration: none;
        font-family: $open-sans-semi-bold;
        color: #ffffff;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        height: 44px;
        @media #{$bootstrap-md} {
          padding: 0 9px;
          font-size: 1.1em;
        }
        //@media (min-width: 1200px) {
        //  padding: 0 9px;
        //  font-size: 1.1em;
        //}
        @media (min-width: 1600px) {
          padding: 0 32px;
        }
        &:hover {
          background-color: $global-color-blue;
          color: #282828;
        }
      }

      ul.dropdown li.dropdown-top {
        &:hover {
          background-color: $global-color-blue;
          a.dropdown-top {
            color: #282828;
          }
          .dropdown-inside {
            display: block;
            right: 0;
          }
        }
        .active {
          background-color: $global-color-blue;
          color: #282828;
        }
      }

      ul.dropdown .dropdown-inside {
        background: url("../img/bg-image.png");
        background-size: cover;
      }
      ul.dropdown .dropdown-inside a {
        font-family: $open-sans-reg;
        color: #282828;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-decoration: none;
        padding-left: 30px;
        &:hover {
          color: #000000;
          text-decoration: underline;
        }
      }
    }
    .social-link {
      margin-top: 20px;
      float: right;
      .link {
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}

.search-form {
  float: right;
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  .input-search {
    display: none;
    height: 44px;
    outline: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: $open-sans-reg;
    color: #ffffff;
    font-size: 1.125em;
    @media #{$bootstrap-md} {
      width: 220px;
    }
    @media #{$bootstrap-lg} {
      width: 400px;
    }
    @media #{$bootstrap-xl} {
      width: 550px;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .active-input {
    display: block;
  }
  .btn-search {
    background-color: transparent;
    border: none;
    outline: none;
    color: $global-color-white;
    border-radius: 0;
    margin-left: 10px;
    width: 44px;
    height: 44px;
    padding: 0;
    &:hover {
      color: $global-color-blue;
    }
    &:focus:active {
      background-color: $global-color-blue;
      color: $global-color-white;
      outline: none;
    }
    .icon-search {
      font-size: 1.125em;
    }

  }
  .active-btn {
    background-color: $global-color-blue;
    outline: none;
    &:hover {
      color: $global-color-white;
    }
  }
}

.sll-text {
  float: right;
  margin-top: 10px;
  font-family: $open-sans-reg;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 400;
  margin-left: 10px;
  letter-spacing: 1px;
  outline: none;
  text-decoration: none;
  &:hover {
    color: $global-color-blue;
  }
}

.headhesive {
  position: fixed;
  opacity: 1;
  transition: 0.5s;
  z-index: 1000;
  width: 100%;
}

.headhesive--stick {
  height: 70px;
  transition: 0.5s;
  .search-language-login {
    display: none;
  }
  .social-link {
    display: none;
  }

  .right-nav-block {
    height: 50px;
    width: auto;
  }
  .logo-block {
    height: 50px;
    .logo-left-block {
      width: 280px;
      height: auto;
    }
    .logo-img {
      width: 52px;
      margin-bottom: 13px;
      margin-top: 13px;
      .logo {
        width: 52px;
      }
    }
    .logo-header {
      padding-top: 0;
      .header-title {
        margin-top: 15px;
        font-size: 1em;
        text-align: left;
      }
    }
    .logo-right-header {
      display: none;
    }
  }
}