.new {
  .new-block {
    background: url("../img/bg-light.png");
    padding-top: 185px;
    border-bottom: 1px solid $global-color-grey;
    .active-new {
      text-align: center;
      width: 70%;
      @media #{$bootstrap-xs} {
        width: 80%;
      }
      .date {
        font-family: $open-sans-light-italic;
        font-size: 1em;
        font-weight: 400;
        font-style: italic;
      }
      .header-text {
        font-family: $open-sans-bold;
        color: rgba(0, 0, 0, 0.82);
        font-weight: 400;
        text-align: center;
        margin-top: 70px;
        border-bottom: 2px solid black;
        @media #{$bootstrap-xs} {
          font-size: 1.5em;
        }
        @media #{$bootstrap-sm} {
          font-size: 2.3em;
        }
        @media #{$bootstrap-md} {
          font-size: 3em;
        }
      }
      .image-block {
        text-align: center;
        margin-top: 60px;
        .news-image {
          box-shadow: 0 0 10px #353434;
          @media #{$bootstrap-xs} {
            width: 100%;
            border: 7px solid #ffffff;
          }
          @media #{$bootstrap-sm} {
            width: 100%;
            border: 10px solid #ffffff;
          }
          @media #{$bootstrap-md} {
            width: 60%;
          }
        }
      }
      .new-text-block {
        .text-new {
          margin-top: 60px;
          margin-bottom: 70px;
          font-family: $open-sans-reg;
          color: rgba(0, 0, 0, 0.82);
          font-size: 1.563em;
          font-weight: 100;
          font-style: italic;
          text-align: left;
          @media #{$bootstrap-xs} {
            font-size: 1em;
          }
        }

      }
    }
  }
  .news-other {
    .header-news {
      width: 80%;
      .header-title {
        font-family: $open-sans-bold;
        color: #282828;
        font-size: 1.875em;
        font-weight: 600;
        text-align: left;
        transform: scaleX(1.0016);
        margin-bottom: 0;
        margin-top: 40px;
      }
    }
    .news-block {
      width: 80%;
      margin-top: 25px;
      margin-bottom: 25px;
      .header-title {
        font-family: $open-sans-reg;
        color: #181818;
        font-size: 1.375em;
        font-weight: 400;
        text-decoration: underline;
        text-align: left;
        margin-top: 30px;
      }
      .image-block {
        box-shadow: 0 0 10px #353434;
        border: 5px solid $global-color-blue;
        .news-image {
          width: 100%;
        }
      }
      .date {
        font-family: $open-sans-light-italic;
        color: #727272;
        font-size: 1.125em;
        font-style: italic;
        text-align: right;
      }
    }
  }
}